@using Microsoft.AspNetCore.Identity
@inject SignInManager<Domain.Models.User> SignInManager
@inject UserManager<Domain.Models.User> UserManager
@{
    var isAuthenticated = SignInManager.IsSignedIn(User);
    var isAdmin = User.IsInRole("Admin");
    var isCustomer = User.IsInRole("Customer");
    var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["Action"]?.ToString();
}

<div class="top-header-area" id="sticker" style="background-color:#1a1a1a">
    <div class="container" >
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/assets/img/logo.png" alt="Fruitkha">
                        </a>
                    </div>
                    <!-- logo -->
                    <!-- menu start -->
                    <nav class="main-menu " >
                        <ul>
                            @if (!isAuthenticated)
                            {
                                <li class="current-list-item ">
                                    <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                    <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                                </li>
                            }
                            else if (isAdmin)
                            {
                                <!-- Admin Navbar -->
                                @* <li class="current-list-item "> *@
                                @*     <a asp-area="" asp-controller="" asp-action="">Dashboard</a> *@
                                @*     <a asp-area="" asp-controller="" asp-action="">Manage Orders</a> *@
                                @*     <a asp-area="" asp-controller="" asp-action="">Manage Products</a> *@
                                @*     <a asp-area="" asp-controller="" asp-action="">Manage Categories</a> *@
                                @* </li> *@
                                <li class="@(currentController == "Product" && currentAction == "Index" ? "active-orange" : "")"><a asp-controller="Product" asp-action="Index"> Products</a></li>
                                <li><a  asp-controller="Category" asp-action="Index"> Categories</a></li>
                                <li class="@(currentController == "Admin" && currentAction == "Orders" ? "active-orange" : "")">
                                    <a  asp-controller="Admin" asp-action="Orders"> Orders</a>
                                </li>
                                <li class="@(currentController == "Admin" && currentAction == "Reviews" ? "active-orange" : "")">
                                    <a  asp-controller="Admin" asp-action="Reviews"> Reviews</a>
                                </li>
                                <li class="current-list-item ">
                                    <form asp-controller="Account" asp-action="Logout" method="post">
                                        <button type="submit" style=" background-color:#1a1a1a; border:none">
                                            <i class="fas fa-portrait" style="font-size:28px; color:#fd7e14;"></i>
                                        </button>
                                    </form>
                                </li>
                            }
                            else if (isCustomer)
                            {
                                <li class="@(currentController == "Customer" && currentAction == "Index" ? "active-orange" : "")">
                                    <a asp-area="" asp-controller="Customer" asp-action="Index">Home</a>
                                     @* <ul class="sub-menu">  *@
                                        @* <li><a asp-area="" asp-controller="Home" asp-action="Index">Static Home</a></li> *@
                                        @* <li><a asp-area="" asp-controller="Home" asp-action="IndexSlider">Slider Home</a></li> *@
                                     @* </ul>  *@
                                </li>
                                <li class="@(currentController == "Customer" && currentAction == "About" ? "active-orange" : "")">
                                    <a asp-area="" asp-controller="Customer" asp-action="About">About</a>
                                </li>
                                <li>
                                    <a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a asp-area="" asp-controller="Home" asp-action="Error404">404 page</a></li>
                                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                                        <li><a asp-area="" asp-controller="Shop" asp-action="Cart">Cart</a></li>
                                        <li><a asp-area="" asp-controller="Shop" asp-action="Checkout">Check Out</a></li>
                                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                                        <li><a asp-area="" asp-controller="Blog" asp-action="Index">News</a></li>
                                        <li><a asp-area="" asp-controller="Shop" asp-action="Index">Shop</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Blog" asp-action="Index">News</a>
                                    <ul class="sub-menu">
                                        <li><a asp-area="" asp-controller="Blog" asp-action="Index">News</a></li>
                                        <li><a asp-area="" asp-controller="Blog" asp-action="Detail">Single News</a></li>
                                    </ul>
                                </li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index">Shop</a>
                                    <ul class="sub-menu">
                                        <li><a asp-area="" asp-controller="Shop" asp-action="Index">Shop</a></li>
                                        <li><a asp-area="" asp-controller="Shop" asp-action="Checkout">Check Out</a></li>
                                        <li><a asp-area="" asp-controller="Shop" asp-action="Product">Single Product</a></li>
                                        <li><a asp-area="" asp-controller="Shop" asp-action="Cart">Cart</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="header-icons">
                                        <a class="shopping-cart" asp-area="" asp-controller="Shop" asp-action="Cart"><i class="fas fa-shopping-cart"></i></a>
                                        <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                                        <form asp-controller="Account" asp-action="Logout" method="post">
                                            <button type="submit" style=" background-color:#1a1a1a; border:none">
                                                <i class="fas fa-portrait" style="font-size:28px; color:#fd7e14;"></i>
                                            </button>
                                        </form>
                                    </div>
								</li>
                                @* <li class="current-list-item "> *@
                                @*     <form asp-controller="Account" asp-action="Logout" method="post" > *@
                                @*         <button type="submit" style=" background-color:#1a1a1a; border:none"> *@
                                @*             <i class="fas fa-portrait" style="font-size:28px; color:#fd7e14;"></i> *@
                                @*         </button>  *@
                                @*     </form> *@
                                @* </li>	 *@
                            }   
						</ul>
                        
					</nav>
					
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}